In [18]:
import os
import glob
import zipfile
import numpy as np
import pandas as pd
from tqdm import tqdm
from PIL import Image

import urllib
import zipfile
zip_path, _ = urllib.request.urlretrieve("https://github.com/justinchuntingho/ImageTextAnalysisWorkshop/raw/main/data.zip")
with zipfile.ZipFile(zip_path, "r") as f:
    f.extractall("./")

In [71]:
image_paths = glob.glob('data/*jpg', recursive=True)
text_paths = glob.glob('data/*txt', recursive=True)

In [31]:
text_paths[0:6]

['data/C1RnVfksXNO.txt',
 'data/C0B2IytO2Kz.txt',
 'data/C0eK54AsyRY.txt',
 'data/C1HqgbxsBvk.txt',
 'data/C2SCps9MpFm.txt',
 'data/C03iy0_MB-S.txt']

In [32]:
image_paths[0:6]

['data/Cz4KVwfMlQ1_5.jpg',
 'data/C1zTaHesEEC_3.jpg',
 'data/C2SCps9MpFm_5.jpg',
 'data/Czyc1E-u_Xi_3.jpg',
 'data/C1e5C4mOM3Q.jpg',
 'data/C1jell1sQAQ.jpg']

In [72]:
corpus = []
files = []

for file_path in text_paths:
    with open(file_path) as f_input:
        corpus.append(f_input.read())
        files.append(''.join([n for n in os.path.basename(file_path)]))

df = pd.DataFrame({'shortcode':files, 'text':corpus})
df['shortcode'] = [x.replace('.txt','') for x in df.shortcode]

In [73]:
df

       shortcode                                               text
0    C1RnVfksXNO  Happy Christmas to all those who are celebrati...
1    C0B2IytO2Kz  Graduations are guaranteed to bring joy to fri...
2    C0eK54AsyRY  Students and staff*, get out your running shoe...
3    C1HqgbxsBvk  Students and staff from across The University ...
4    C2SCps9MpFm  Missed our Activities Fair? There's still a ch...
..           ...                                                ...
96   Cz3VMxfOGhC  Join us Saturday 25 November for St Cecilia's ...
97   Czlrs9FNH-2  On Monday 20 November, the University‚Äôs Christ...
98   C0bfMdpsa0C  Good luck to the University of Edinburgh's Uni...
99   CzvxJBqtUqn  International Students Day: third-year Busines...
100  C0_lw8JOGFz  18 December is World Arabic Language Day! Did ...

[101 rows x 2 columns]

In [74]:
import re

imgdf = pd.DataFrame({'image_path':image_paths})
imgdf['shortcode'] = [x.replace('.jpg','') for x in imgdf.image_path]
imgdf['shortcode'] = [x.replace('data/','') for x in imgdf.shortcode]
imgdf['shortcode'] = [re.sub(r'_[0-9][0-9]?$', '', x) for x in imgdf.shortcode]

In [75]:
imgdf

                 image_path    shortcode
0    data/Cz4KVwfMlQ1_5.jpg  Cz4KVwfMlQ1
1    data/C1zTaHesEEC_3.jpg  C1zTaHesEEC
2    data/C2SCps9MpFm_5.jpg  C2SCps9MpFm
3    data/Czyc1E-u_Xi_3.jpg  Czyc1E-u_Xi
4      data/C1e5C4mOM3Q.jpg  C1e5C4mOM3Q
..                      ...          ...
207    data/Cy_ag2ZoZjJ.jpg  Cy_ag2ZoZjJ
208  data/CzqZ175O8sN_3.jpg  CzqZ175O8sN
209    data/C1FP90gMw8E.jpg  C1FP90gMw8E
210  data/Cy71x8WO5FA_3.jpg  Cy71x8WO5FA
211    data/Cz8pGR6sFFJ.jpg  Cz8pGR6sFFJ

[212 rows x 2 columns]

In [76]:
df = imgdf.merge(df, on='shortcode', how='left')

In [77]:
df

,image_path,shortcode,text
0,data/Cz4KVwfMlQ1_5.jpg,Cz4KVwfMlQ1,Looking for the perfect graduation gift? Our r...
1,data/C1zTaHesEEC_3.jpg,C1zTaHesEEC,2024 is off to a great start already üéä For tho...
2,data/C2SCps9MpFm_5.jpg,C2SCps9MpFm,Missed our Activities Fair? There's still a ch...
3,data/Czyc1E-u_Xi_3.jpg,Czyc1E-u_Xi,Continue the celebration of our international ...
4,data/C1e5C4mOM3Q.jpg,C1e5C4mOM3Q,Starting your studies with us in January? Have...
...,...,...,...
207,data/Cy_ag2ZoZjJ.jpg,Cy_ag2ZoZjJ,Don‚Äôt worry if you weren‚Äôt able to make it to ...
208,data/CzqZ175O8sN_3.jpg,CzqZ175O8sN,Attention all Alumni and soon-to-be-Alumni Win...
209,data/C1FP90gMw8E.jpg,C1FP90gMw8E,‚ö†Ô∏è Final reminder: the University closes tomor...
210,data/Cy71x8WO5FA_3.jpg,Cy71x8WO5FA,Good morning to everyone attending our Undergr...
211,data/Cz8pGR6sFFJ.jpg,Cz8pGR6sFFJ,We can't wait for our graduation ceremonies to...

In [78]:
df.to_csv('data/data.csv', index=False)